// base.scss

body{
  color: $color-ft-base;
	font-weight: 200;
	font-family: $ft-base;
  font-size: $ft-size-r;
  line-height: $line-height-r;
}

.margin-H-R {
  margin: 0 $spacing-md;
}

.padding-V-R {
  padding: $spacing-md 0;
}

.gap-H-R {
  gap: 0 $spacing-md;
}

.gap-V-R {
  gap: $spacing-md 0;
}

.contents-wrap {
  margin: 0 $container-padding-desktop;
}
