//globals.scss
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.serif-font {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}


//변수
@import 'variables';

//믹스인
@import 'mixins';

//브레이크포인트
@import 'breakpoints';

//리셋
@import 'reset';

//기본 스타일
@import 'base';
