//header.scss
@import "../styles/global.scss";

.header-wrap {
  @include flex-container($justify: space-between, $align: center);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: $spacing-md 0;

  z-index: 999;

   h1{
    font-family: $ft-point;
    font-weight: 200;
   }
  .right-menu {
    @include flex-container;
    gap: 0 $spacing-md;
    font-size: $ft-size-md;
  }
}
