@import "../../styles//global.scss";
// mainPage.scss

.main-page-wrapper {
  position: relative;
  height: 100vh;

  .title {
    &.image-box {
      position: absolute;
      top: 46%;
      left: 50%;
      translate: -50% -50%;

      width: 13vw;

      svg {
        width: 100%;
      }
    }
  }

  .text-contents-wrap {
    @include flex-container($direction: row);
    position: absolute;
    top: 75%;
    left: 60%;
    translate: -50% -50%;

    .text-contents-list {
      @include flex-container($direction: column);
      li:not(:first-child) {
        line-height: $line-height-md;
      }
    }
  }

  .bg-video {
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}
